<div>
  <h1 class="chat-box-header">tixie.</h1>
  <div class="login-container">
      <h2 class="login-header">Log In</h2>
      <form [formGroup]='loginForm' (ngSubmit)="login()">
        <div class="login-form" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field appearance="fill" fxFlex="100%" class="input-field" >
              <mat-label>Username</mat-label>
              <input matInput class="username" id="loginUsername" placeholder="Username" formControlName="username"  required #usernameInput>
            </mat-form-field>
            <mat-form-field fxFlex="100%" class="input-field">
                <mat-label>Enter your password</mat-label>
                <input matInput  class="pass" id="loginPassword" [type]="hide ? 'password' : 'text'" required  formControlName="password" #passwordInput>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide.toString()">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
        </div>
      </form>
      <div class="validator-message">   
        <div *ngIf="loginValidator">Incorrect password or username</div>  
      </div>
      <div class="example-button-row">
        <button class="button" (click)="login()"  mat-raised-button >
          Log in
          <mat-icon class="icon">vpn_key</mat-icon>
        </button>
      </div>
      <div class="register-btn">
        <p>Not registered yet?</p><p [routerLink]="['/register']">Register</p>
      </div>
      
  </div>

</div>

  