<body>
  <app-sidebar *ngIf="isLoggedIn"></app-sidebar>
  <div class='main-content'>
    <main id="main" style="margin: 0;">
      <div class="chat-box-container">
        <div class="nav-bar">
          <h1 class="chat-box-header">tixie.</h1>
          <button mat-raised-button class="report-bug-btn" (click)="reportBug()" >
            Report bug
          </button>
          <button mat-raised-button class="log-out-btn" (click)="logOut()" >
            Log out
          </button>
        </div>

        <div class="chat-box" #chatBox>
          <div *ngFor="let pair of chatPairs" class="ai-person-container">
            <div class="person-block">
              <p class="time-style">{{ pair.timestamp }}</p>
              <p class="person">You:</p>
              <p class="person-text">{{ pair.user }}</p>
            </div>
            <div class="ai-block">
              <p class="time-style">{{ pair.timestamp }}</p>
              <p class="ai">Tixie:</p>
              <p class="ai-text" [innerHTML]="pair.bot"></p>
            </div>
          </div>
        </div>
      </div>

      <form class="chat-form" (ngSubmit)="onSubmit()" #chatForm="ngForm">
        <mat-form-field class="chat-form-field" subscriptSizing="dynamic">
          <textarea
            matInput
            #chatInput
            [(ngModel)]="userInput"
            name="input"
            class="chat-input"
            placeholder="Type something..."
            required
            matAutosize
            (input)="resizeInput(chatInput)"
            (keydown.enter)="onSubmit()"
          ></textarea>
        </mat-form-field>

        <button
          class="chat-submit"
          type="submit"
          name="submit"
          [disabled]="!chatForm.valid || thinking || !userInput.trim()"
        >
          <span *ngIf="!thinking">
            <i class="fas fa-paper-plane"></i>
          </span>
          <span *ngIf="thinking">
            <i class="fas fa-spinner fa-spin"></i>
          </span>
        </button>
      </form>
    </main>
  </div>

</body>
