
<body>
  <main id="main" style="margin: 0;">
    <div class="chat-box-container">
      <h1 class="chat-box-header">Chat AI</h1>
      <div  class="chat-box" #chatBox>
        <div *ngFor="let message of messages" >
          <p class="time-style"> {{ time }}</p>
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
    <form class="chat-input-container" (ngSubmit)="onSubmit()" #chatForm="ngForm" >
      <input     #chatInput    [(ngModel)]="userInput" name="input" class="chat-input" 
      placeholder="Type something..." required (input)="resizeInput(chatInput)"/>
      <button class="chat-submit" type="submit" name="submit" [disabled]="!chatForm.valid || thinking">Submit</button>
    </form>
  </main>
</body>

